.btn {
    cursor: pointer;
    background-color: $main-color;
    color: $background-color;
    font-weight: 800;
    font-size: 1.125rem;
    font-style: italic;
    border: none;
    border-radius: 25px;
    height: 45px;
    min-width: 170px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.submit {
    background-color: $background-color;
    color: $main-color;
}

.link {
    padding: 10px 20px;
}